@model VisualPlanner.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Регистрация";
}

<div class="container">

        <br />
        <h1>@ViewBag.Title</h1>
        <h3>Связывание вашей учетной записи @ViewBag.LoginProvider</h3>
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-info">Вы успешно прошли проверку подлинности через <strong>@ViewBag.LoginProvider</strong></p>
            <p class="text-info"> Введите свой email и нажмите кнопку "Регистрация", чтобы завершить вход.</p>
            <br />
            <div class="row">
                <div class="form-group col-sm-5">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-2">
                    <input type="submit" class="btn btn-success" value="Регистрация" />
                </div>
            </div>
        }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
