@model VisualPlanner.Models.ChangeEmailViewModel
@{
    ViewBag.Title = "Смена e-mail";
}
<div class="container">
    <br />
    <h1>@ViewBag.Title</h1>
    <h3>Введите новый адрес электронной почты:</h3>
    @using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <div class="row">
            <div class="form-group col-sm-5">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <input type="submit" class="btn btn-success" value="Изменить" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}