@model VisualPlanner.Models.IndexViewModel
@{
    ViewBag.Title = "Профиль";
}
<br />
<div class="container">
    <ul class="nav nav-pills" id="profile-pills">
        <li class="active"><a href="#pill-1" data-toggle="pill">Статистика</a></li>
        <li><a href="#pill-2" data-toggle="pill">Настройки</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active well" id="pill-1">
            <h1>Статистика пользователя</h1>
            <br />
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="help-item" id="advice_1"><b>1. Как начать работу с приложением</b></h4></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="help-item" id="advice_2"><b>2. Создание первой задачи</b></h4></div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis interdum suscipit orci, quis lobortis massa malesuada sit amet. Nam vel lorem aliquet, commodo elit ac, imperdiet urna. Sed sodales faucibus placerat. Ut a elit magna. Aliquam erat volutpat. In in sodales nunc, a tempor mi. Mauris eget justo ac libero maximus consequat. Pellentesque non arcu id nunc faucibus laoreet sed quis sem. Etiam euismod interdum congue. Sed feugiat nulla odio. Donec et dolor gravida, eleifend dui eu, ultrices mi. Integer pretium nisi at massa imperdiet, in faucibus diam vestibulum. Pellentesque faucibus pharetra ex eget molestie. Integer pulvinar ante quis laoreet venenatis. Donec convallis nec arcu non lacinia. Donec aliquam eros arcu, id dapibus neque ornare sed.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade well" id="pill-2">
            <p class="text-success" style="font-size:16px; padding-top:10px;">@ViewBag.StatusMessage</p>
            <h1>Настройка профиля</h1>
            <h3>Изменение параметров учетной записи</h3>
            <br />
            <dl class="dl-horizontal">
                <dt class="col-sm-3 style-dt">E-mail:</dt>
                <dd class="col-sm-9 style-dd">
                    <div>@(Model.Email ?? "Нет")</div> 
                    [
                    @if (Model.Email != null)
                    {
                        @Html.ActionLink("Смена e-mail", "ChangeEmail")
                    }
                    ]
                </dd>
                <dt class="col-sm-3 style-dt">Пароль:</dt>
                <dd class="col-sm-9 style-dd">
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Смена пароля", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Создать", "SetPassword")
                    }
                    ]
                </dd>
                <dt class="col-sm-3 style-dt">Номер телефона:</dt>
                <dd class="col-sm-9 style-dd">
                    <div>@(Model.PhoneNumber ?? "Нет")</div> 
                    [

                    @if (Model.PhoneNumber != null)
                    {
                        if (Model.PhoneNumberConfirm)
                        { 
                            @Html.ActionLink("Изменить", "AddPhoneNumber", new { Title = "Изменение телефона"})
                            @: &nbsp;|&nbsp;
                            @Html.ActionLink("Удалить", "RemovePhoneNumber")
                        }
                        else
                        {
                            @Html.ActionLink("Подтверждение телефона", "VerifyPhoneNumber", new { phoneNumber = Model.PhoneNumber })
                        }
                    }
                    else
                    {
                        @Html.ActionLink("Добавить", "AddPhoneNumber", new { Title = "Добавление телефона" })
                    }
                    ]
                </dd>
                <dt class="col-sm-3 style-dt">Внешние аккаунты:</dt>
                <dd class="col-sm-9 style-dd">
                   [ @Html.ActionLink("Управление аккаунтами", "ManageLogins") ]
                </dd>
            </dl>
        </div>
    </div>
</div>