@model VisualPlanner.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Создать пароль";
}

<div class="container">
    <br />
    <h1>@ViewBag.Title</h1>
    <h5 class="text-info">
        У вас нет пароля для этого сайта. Добавьте локальную
        учетную запись, чтобы входить без использования внешнего входа.
    </h5>
    @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3>Введите пароль</h3>
        <br />
        <div class="row">
            <div class="form-group col-sm-5">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>      
        <div class="row">
            <div class="form-group col-sm-5">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-2">
                <input type="submit" class="btn btn-success" value="Задать пароль" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}